@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --konf-background: #dee2d5;
    --konf-foreground: #31292f;
    --konf-primary: #476d8e;
    --konf-accent: #8d212e;
  }

  .dark {
    --konf-background: #31292f;
    --konf-foreground: #f18a4e;
    --konf-primary: #f2c46c;
    --konf-accent: #78a5be;
  }
}

:root {
  --background: #31292f;
  --foreground: #f18a4e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.3rem;
  font-weight: 300;
}
h1 {
  font-family: "cygrotesk", "cygrotesk Fallback", sans-serif;
  font-size: 3rem;
}
.presentation-grid {
  display: grid;
  justify-items: start;
  align-content: stretch;
  grid-template-columns: fit-content(16rem) minmax(320px, 1fr) minmax(
      320px,
      1fr
    );
}
.no-scrollbar {
  scrollbar-width: none;
}
.tile {
  @apply p-6 sm:p-10 min-h-[225px];
  border-radius: 30px;
  border: 1px solid var(--test-stroke, #fff);
  background: var(
    --test-item,
    radial-gradient(
      165.3% 70.64% at 49.87% 50.22%,
      rgba(255, 255, 255, 0.1) 14.5%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #101010
  );
}
