@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --konf-background: #DEE2D5;
    --konf-foreground: #31292F;
    --konf-primary: #476D8E;
    --konf-accent: #8D212E;
  }

  .dark {
    --konf-background: #31292F;
    --konf-foreground: #F18A4E;
    --konf-primary: #F2C46C;
    --konf-accent: #78A5BE;
  }
}


  :root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.3rem;
  font-weight: 300;
}
h1 {
  font-family: "cygrotesk", "cygrotesk Fallback", sans-serif;
  font-size: 3rem;
}
